.field {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}
.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 24px;
    cursor: pointer;
}
.decor {
    border: 2px solid #f00000;
    background-color: yellow;
    color: red;
    animation: blink 1s linear infinite;
    font-weight: bold;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
